<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CSS Grid Photo Gallery</title>
    <link rel="stylesheet" href="../styles/grid.css">
</head>

<body>

    <h1>Photo Gallery</h1>

    <div class="gallery">
        <div class="photo a"><img src="../assets/img/1755972947743.jpeg" alt="Photo A"></div>
        <div class="photo b"><img src="sanan.jpg" alt="Photo B"></div>
        <div class="photo c"><img src="../assets/img/profile.png" alt="Photo C"></div>
        <div class="photo d"><img src="../assets/img/t6.jpeg" alt="Photo D"></div>
        <div class="photo e"><img src="../assets/img/WhatsApp Image 2025-08-23 at 6.47.12 PM.jpeg" alt="Photo E"></div>
        <div class="photo f"><img src="../assets/img/IMG_7794.png" alt="Photo F"></div>
    </div>

</body>

</html>